* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: "Avenir Next", 'Montserrat', sans-serif;
    font-style: normal;
    color: #A5A7A9;
    font-size: 100%;
    font-weight: 500;
    line-height: 1;
    box-sizing: border-box;
    background: var(--bg-2, #1D2427);
    overflow-x: hidden;
}

button,
#button,
.button-download,
button.login {
    border: none;
    border-radius: 6px;
    background: var(--cta-1, #EA6732);
    font-family: "Avenir Next", 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}

button:hover {
    background: #D6660A;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

h1,
h2 {
    color: var(--cta-1, #EA6732);
    font-size: 2.125rem;
    font-family: Avenir Next;
    font-weight: 700;
    padding-bottom: 24px;
}

h2,
h3 {
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 1.434rem;
    padding-bottom: 1rem;
}

p {
    line-height: 1.5rem;
    hyphens: auto;
}

/* MENU-START */
.container {
    max-width: 756px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 82px;
    background-color: var(--bg-2, #1D2427);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    z-index: 5;
}

header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.m777_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 82px;
    align-items: center;
}

.m777_logo {
    flex: 0 0 69px;
}

.m777_logo img {
    max-width: 100%;
    display: block;
}

.m777_list {
    width: 598px; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.m777_list li {
    width: inherit;
    cursor: pointer;
    color: #A5A7A9;
}
.m777_list li:last-child {
    margin-left: 20px;
}

button.login {
    padding: 15px 32px;
}

.m777_burger {
    display: none;
}

/* LINE-DECORATION-START*/
.line-gris {
    display: none;
    margin: 4px auto 0 0;
    height: 1px;
    width: 24px;
    border: none;
    background-color: #A5A7A9;
}

/* .m777_link:is(:hover, :active) {
    color: #EA6732;
    font-weight: 700;
    transition: 5ms;
}

.m777_link:is(:hover, :active)>.line-gris {
    display: flex;
} */

/* LINE-DECORATION-END*/
/* MENU-END */

/* MAIN-START */
#menu {
    height: 438px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    z-index: -5;
}

#menu img {
  transform: translate3d(-7px, 265px, 0) scale3d(0.8, 0.8, 0.1);}

/* section "ABOUT" - START */
#about {
    max-width: 100vw;
    padding-bottom: 60px;
    background-image: url(../images/Ellipse272.svg);
    background-position: 40% 85%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1D2427;
}

.content {
    margin-top: -76px;
    display: flex;
    flex-direction: row;
    max-width: 756px;
    gap: 1.5rem;
}

.half {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.mobil {
    align-self: center;
    width: 100%;
}

.group {
    width: 68%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding-top: 2.5rem;
}

i.fa {
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
}

.button-download {
    width: 9.75rem;
    height: 3.125rem;
    padding-left: 5%;
    font-size: 0.7rem;
    line-height: 1rem;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}


span {
    font-weight: 500;
}

span.app {
    font-weight: 700;
    text-transform: uppercase;
}

/* SERVICES - START */
.services {
    padding-top: 60px;
    background: var(--bg-1, #293034);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-header {
    max-width: 756px;
}

/* GRID_CARDS-START */
.column {
    width: 756px;
    height: 955px;
    margin: 40px 0 0;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 450px;
    gap: 24px;
}

.ccc {
    height: 239px;
    padding-top: 86px;
}

.card {
    position: relative;
    border-radius: 12px;
    background: #353D43;
    height: 350px;
    padding: 121px 20px 20px;
    bottom: 129px;
}

.rhombus {
    width: 128px;
    height: 128px;
    background-color: white;
    border-radius: 12px;
    transform: rotate(45deg);
    position: relative;
    display: flex;
    bottom: 4rem;
    left: 54px;
    z-index: 2;
}

img.icon {
    display: block;
    width: 48px;
    height: 48px;
    margin: auto;
    transform: rotate(-45deg);
}

#contacts {
    width: 100vw;
    margin: 60px 0 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.touch {
    width: 756px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

svg {
    display: none;
}

.half-contacts {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

.row {
    width: 336px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    line-height: 1.5rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.row img {
    margin-right: 5%;
}

#guides {
    width: 100vw;
    padding: 60px 0;
    background: var(--bg-1, #293034);
}

.download {
    margin: auto;
    width: 756px;
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    grid-template-rows: 46px;
    gap: 24px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

div.download a {
    display: flex;
    height: 46px;
    padding-left: 13px;
    border: none;
    border-radius: 6px;
    background: var(--cta-1, #EA6732);
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

/* FORMA - START */

/* border-color befor write text */
/* .input__field:is(:focus-visible, :valid) {
    outline-color: rgba(229, 109, 11, 1);
}  */
/* border - color befor write text - end*/

.regictration {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;

    /*FORM visible-invisible on click - START,
    important to leave it commented out*/

    /* display: flex;
    justify-content: center;
    align-items: center; */

    /*FORM visible-invisible on click - START*/
}

.form {
    margin: auto;
    width: 300px;
    height: 368px;
    background: #3F4044;
    border-radius: 6px;
    display: grid;
    place-items: center;
    align-content: space-between;
}

input {
    appearance: none;
    padding: 0 16px;
    width: 236px;
    height: 44px;
    background: #5C5D64;
    border-radius: 6px;
    border: none;
    outline: 0;
    color: #C4C8D3;
    font-size: 16px;
}

.legend {
    position: relative;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    width: 300px;
    padding: 32px 0 20px;
    margin-bottom: 32px;
    background: #4A4B50;
    border-radius: 6px 6px 0 0;
}

.form p {
    color: #E56D0B;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
    cursor: pointer;
}

/* CHANGING THE ICON "EYE" WHEN CLICKING IT - START*/
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.eye {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.ri-eye-off-line::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(./images/ojo.svg) 0 0 no-repeat;
}

.ri-eye-line::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(./images/ojo-cerrado.svg) 0 0 no-repeat;
}

.input-password {
    display: grid;
    place-items: end;
    position: relative;
}

/* CHANGING THE ICON "EYE" WHEN CLICKING IT - END*/
/* FORMA - END */

footer {
    width: 100vw;
    padding: 1rem 0;
    color: #A5A7A9;
    text-align: center;
    font-size: 9px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {

    /* MENU-START */
    .container {
        width: 90vw;
        padding: 0;
    }

    .m777_burger {
        display: block;
        position: relative;
        width: 25px;
        height: 18px;
        z-index: 3;
        cursor: pointer;
    }

    .m777_burger span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: rgba(165, 167, 169, 1);
        right: 0;
        top: 8px;
    }

    .m777_burger:before,
    .m777_burger:after {
        content: "";
        width: 100%;
        position: absolute;
        height: 2px;
        background-color: rgba(165, 167, 169, 1);
        left: 0;
        transition: 5ms;
    }

    .m777_burger:before {
        top: 0;
    }

    .m777_burger:after {
        bottom: 0;
    }

    .m777_burger.active span {
        opacity: 0;
    }

    .m777_burger.active::before {
        transform: rotate(45deg);
        top: 8px;
    }

    .m777_burger.active::after {
        transform: rotate(-45deg);
        bottom: 8px;
    }

    .m777_menu {
        position: fixed;
        top: -100%;
        right: 0;
        width: 109px;
        height: 255px;
        background-color: var(--bg-2, #1D2427);
        transition: 0.5ms;
        padding: 80px 20px 20px 20px;
        box-sizing: content-box;
    }

    .m777_menu.active {
        top: 0;
        height: auto;
    }

    .m777_list {
        display: block;
    }
    .m777_list li {
        font-size: 1.15rem;
    }
    .m777_list li:not(:last-child) {
        margin: 0 0 28px 0;
    }

    .m777_list li:last-child {
        margin: 36px 0 0 0;
    }

    button.login {
        display: block;
        z-index: 5;
        margin-left: 0;
    }

    /* MENU-END */

    #menu img {       
        transform: translate3d(-91px, 3px, 0) scale3d(1.3, 1.3, 0.5);          
    }

    .content {
        width: 90vw;
        flex-direction: column;
        align-items: center;
    }

    .half {
        width: 100%;
    }

    .group {
        width: 53%;
    }

    .services-header {
        max-width: 90vw;
    }

    .column {
        width: 100%;
        height: 470px;
        grid-template-columns: repeat(9, 1fr);
        overflow-x: scroll;
        overflow-y: hidden; 
        gap: 0; 
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .column::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .column {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

    .ccc {
        width: 236px;
        margin-right: 24px;
    }
    .ccc:first-child {
        margin-left: 20px;
    }
    
    div.touch {
        width: 90vw;
    }

    .half-contacts {
        width: 100%;
        align-items: flex-start;
    }

    .row {
        width: inherit;
    }

    svg {
        display: inline;
        margin: 24px auto;
    }

    .download {
        width: 90vw;
        grid-template-columns: repeat(1, 8fr);
    }
}

@media screen and (max-width: 320px) {

    .button-download {
        width: 8.75rem;
        font-size: 0.63rem;
    }

    .download {
        font-size: 0.9rem;
    }

    .row {
        width: 315px;
        line-height: 1rem;
        font-size: 0.85rem;
    }
}


  
